.container{
    width: 100%;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.form input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 0 8px;
    border: none;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 14px;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 14px;
}
table td {
    text-align: center;
    height: 50px;
}

.tr_body{
    background-color: #dad8cd;
    cursor: pointer;
}
.tr_body:hover{
    background-color: #aaa9a1;
}